.container{
    padding-top: 40px;
}


.card{
    border: 1px solid white;
    background-color: blue;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.nested-card{
    border: 1px solid white;
    background-color: blue;
    color: white;
    text-align: center;
}

.nested{
    padding: 20px;
}


.nested-card-xs{
    background-color: lime;
    border: 1px solid white;
    height: 60px;
    line-height: 60px;

}